.product-detail-main {
  margin: 0px auto 50px;
  /* width: 80vw; */
  display: flex;
}

.product-detail-article {
  border-top: 2px solid #a8de82;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: lighter;
  line-height: 1.5;
  padding: 15px 0;
  width: 80%;
}
.product-detail-ar2 {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: lighter;
  line-height: 1.5;
  /* padding: 15px 0; */
  width: 80%;
}
.product-detail-th-ic {
  margin-top: 20px;
}
.product-detail-th-ic img {
  width: 80px;
}
.product-detail-product {
  width: 50%;
  position: relative;
}
.product-detail-product-title {
  color: #525050;
  margin-top: 3px;
  font-size: 20px;
}
.product-detail-ml {
  font-size: 12px;
}
.product-detail-product-main img {
  width: 100%;
  /* height: 800px; */
  object-fit: cover;
}

.product-detail-small-product {
  height: 100px;

  position: absolute;
  top: 100px;
  left: 0;
}

.product-detail-small-product img {
  width: 90px;
  height: 90px;
  display: block;
  opacity: 0.6;
  object-fit: cover;
}
.product-detail-count {
  width: 100%;
  font-size: 15px;
  margin: 15px;
  display: flex;
  vertical-align: bottom;
}
.product-detail-sel {
  width: 100px;
  border: 1px solid #ddead7;
  margin-right: 15px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.product-detail-sel img {
  width: 12px;
  height: 12px;
  align-self: center;
  cursor: pointer;
}
.amo {
  font-size: 14px;
}

.product-detail-price {
  font-size: 20px;
  margin: 20px;
  color: #525050;
}

.product-detail-ar-title {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #525050;
}
li {
  list-style: none;
}
.product-recommend-article-area {
  width: 80%;
  line-height: 32px;
}
.product-recommend-article a {
  font-size: 14px;
  padding: 20px 0;
  text-decoration: none;
  color: #3333339d;
}
.link:hover {
  color: #95c375;
  text-decoration: none;
}
.product-detail-add-shop {
  display: flex;
  width: 150px;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  /* cursor: pointer; */
  background-color: #ddead7;
}

.product-detail-number {
  display: inline-block;
  background-color: #ddead7;
}

.product-detail-sy {
  font-weight: lighter;
  letter-spacing: 5px;
  font-size: 18px;
}

/* 右邊的部分 */
.product-detail-Introduction {
  width: 50%;
  padding: 3rem;
  position: absolute;
  right: 0;
  top: 2000px;
}
.fix {
  position: fixed;
  top: 80px;
  width: 50%;
  padding: 3rem;
  right: 0;
}
.product-detail-Introduction p {
  font-size: 16px;
  color: rgba(34, 34, 34, 0.753);
  line-height: 36px;
  font-weight: 500;
  margin: 0;
}
.product-detail-title-top {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.product-detail-star-top img {
  width: 20px;
  margin: 0;
  /* padding-bottom: 5px; */
}
/* .buy {
  width: 200px;
  height: 50px;
  background-color: #9bc980;
  border-radius: 30px;
  display: flex;
} */
.product-detail-buy span {
  text-align: center;
  width: 100%;
  display: inline-block;
  font-size: 1.4rem;
  align-self: center;
}
.product-detail-container {
  font-weight: lighter;
  letter-spacing: 5px;
  line-height: 1.5;

  font-size: 18px;

  bottom: 0px;
}

/* 規格 */
.product-detail-small-title {
  margin-bottom: 40px;
  margin: 40px 0px;
  font-size: 18px;
}
.product-detail-about {
  font-size: 18px;
}
.product-detail-under-Description {
  width: 80vw;
  height: 250px;

  margin: 20px auto;
}

.product-detail-small-p {
  width: 22vw;
  height: 250px;
}
.product-detail-small-p img {
  width: 22vw;
  height: 100%;
  object-fit: cover;
}
.product-detail-under-Description {
  display: flex;
  margin-top: 150px;
}
.product-detail-product-Description {
  display: flex;
}
.product-detail-pd {
  width: 25vw;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: lighter;
  line-height: 1.5;
  margin-left: 100px;
}
.product-detail-user-mur {
  width: 80vw;
  border-bottom: 2px solid #ddead7;
  margin: 0 auto;
}
.product-detail-lev {
  display: flex;
  width: 30vw;
  justify-content: center;
  padding-bottom: 50px;
  margin-top: 50px;
}
.product-detail-lev img {
  width: 15px;
}

.product-detail-left {
  border-right: 2px solid #ddead7;
  padding-right: 50px;
}
.product-detail-porfile {
  display: flex;
}
.product-detail-photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ddead7;
}
.product-detail-name {
  height: 30px;
  font-size: 14px;
  padding-left: 5px;
  line-height: 30px;
}
.product-detail-murmur {
  width: 80vw;
  padding-top: 10px;
  margin: 0 auto;
}
.product-detail-star img {
  width: 15px;
}
.product-detail-murmurff {
  margin-top: 30px;
  padding-bottom: 20px;
  font-size: 16px;
  border-bottom: 2px solid #ddead7;
  word-spacing: 2px;
  line-height: 1.5;
}
.product-detail-mur-bottom {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.product-detail-mur-bottom img {
  width: 20px;
}
.product-detail-mur-right {
  padding-left: 15px;
}
.product-detail-sell {
  margin: 50px auto;
  width: 80vw;
  font-size: 14px;
  line-height: 1.5;
  word-spacing: 2px;
  display: flex;
  justify-content: space-around;
  /* border-top: 5px solid #ddead7; */
  padding-top: 20px;
}
.product-detail-about-product {
  margin: 50px auto;
  padding-bottom: 20px;
  width: 80vw;
  border-bottom: 2px solid #ddead7;
}
.product-detail-sell-product img {
  height: 300px;
  width: 250px;
  object-fit: cover;
  cursor: pointer;
}

.product-detail-sell-title {
  margin-top: 15px;
  margin-bottom: -15px;
  font-size: 18px;
}
.product-detail-sell-desicription {
  width: 300px;
  margin-top: 20px;
  font-size: 18px;
}
.product-detail-graystar {
  fill: gray;
}
.product-detail-cart {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.product-detail-cart button {
  background-color: #a8d182;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  padding: 2px 6px;
  width: 92px;
  height: 30px;
  font-weight: bold;
  align-items: center;
  margin-top: 21px;
}
.product-detail-sell-product svg {
  fill: #95c375;
  width: 22px;
  margin-top: 15px;
}
.product-detail-title-ol {
  padding: 20px 0px;
  color: black;
  font-weight: 200;
}
